@use "../../../scss/" as *;

.card {
  &__background {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    height: 220px;
    cursor: pointer;
    &:hover {
      filter: brightness(80%);
    }
  }

  &__title {
    color: $color-white;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-out;
    &:hover {
      color: $color-red-primary;
    }
  }
}
