@use "../../../scss/" as *;

.layout {
  padding: 0 10px;
  @include mobile {
    padding: 15px 30px;
  }
  @include phone {
    padding: 15px 60px;
  }
}

.main {
  @include phone {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 50px;
  }
}
