<div class="side-bar">
  <div class="side-bar-logo" routerLink="/">
    <img
      class="side-bar-logo-img"
      src="../../../assets/logo/logo_transparent.png"
    />
    <span class="side-bar-logo-name">iMovie</span>
  </div>

  <div class="side-bar-list">
    <div class="side-bar-title">MENU</div>
    <div class="side-bar-items">
      <div class="side-bar-item" routerLink="/" routerLinkActive="active">
        <mat-icon routerLink="/">home</mat-icon>
        <div class="item__name">Home</div>
      </div>

      <div
        class="side-bar-item"
        routerLink="/discovery"
        routerLinkActive="active"
      >
        <mat-icon routerLink="/discovery">explore</mat-icon>
        <div class="item__name">Discovery</div>
      </div>

      <div
        class="side-bar-item"
        routerLink="/history"
        routerLinkActive="active"
      >
        <mat-icon routerLink="/history">history</mat-icon>
        <div class="item__name">History</div>
      </div>

      <div
        class="side-bar-item search"
        routerLink="/search"
        routerLinkActive="active"
      >
        <mat-icon routerLink="/search">search</mat-icon>
        <div class="item__name">Search</div>
      </div>
    </div>
  </div>
</div>
