@use "../../../scss/" as *;

.discovery {
  color: $color-white;
  overflow: hidden;
}

// select

::ng-deep {
  .mat-tab-label {
    color: $color-white;
  }

  .mat-tab-label-active {
    color: $color-red-primary;
    font-weight: bold;
    opacity: 1 !important;
  }

  .mat-ink-bar {
    background-color: $color-red-primary !important;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #27282e;
    border-radius: 4px !important;
    &:hover {
      opacity: 0.85;
    }
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: transparent;
  }

  .mat-select-value,
  .mat-select-arrow,
  .mat-form-field-hide-placeholder .mat-select-placeholder,
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #fff !important;
    opacity: 1;
  }

  .mat-select-value {
    transform: translateY(-8px) !important;
    display: inline-block;
  }

  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $color-red-primary;
  }

  .mat-tab-body-content {
    overflow: hidden !important;
  }

  .mat-form-field-underline {
    display: none;
  }
}

.select {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 5px 15px;
  margin-top: 20px;
}

.result__datas {
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  display: grid;
  gap: 30px;
  margin-top: 10px;

  @include phone {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}

.result__nodata {
  color: $color-white;
  font-size: 16px;
}
