$color-red-primary: #e7272d;
$color-red-light: #eb4146;
$color-red-dark: #ac0004;
$color-grey: #54565f;
$color-black: #191b1f;
$color-white: #ffffff;
$color-btn-bg: rgba(109, 109, 110, 0.7);
$color-btn-bg-hover: #8a8c91;
$color-border: #313133;
$color-text: #9ca3af;

$mobile-width: 640px;
$phone-width: 768px;
$tablet-width: 1024px;
$desktop-width: 1280px;

$font-size: 18;

$font-base: "Open Sans", sans-serif; ;
