@use "../../../scss/" as *;

.result {
  margin: 30px 0;
  width: 100%;

  &__title {
    color: $color-white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 35px;
    overflow-wrap: break-word;
    line-height: 32px;
    @include mobile {
      font-size: 26px;
    }
  }

  &__datas {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    display: grid;
    gap: 30px;

    @include phone {
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
  }

  &__nodata {
    color: $color-white;
    font-size: 18px;
  }
}
