<div class="detail">
  <div class="detail__trailer">
    <vg-player *ngIf="detailData.mediaUrl">
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>

      <vg-controls [vgAutohide]="true" [vgAutohideTime]="1.5">
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display
          vgProperty="current"
          vgFormat="mm:ss"
        ></vg-time-display>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time
            [vgSlider]="true"
          ></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-track-selector></vg-track-selector>
        <vg-mute></vg-mute>

        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
      </vg-controls>
      <video
        #media
        [vgMedia]="$any(media)"
        [vgHls]="detailData.mediaUrl"
        [poster]="detailData.coverHorizontalUrl"
        id="my-video"
        crossorigin
      >
        <ng-container *ngFor="let item of subList">
          <track
            kind="subtitles"
            [label]="item.language"
            [src]="subtitleProxy(item.subtitlingUrl)"
            [srclang]="item.languageAbbr"
          />
        </ng-container>
      </video>
    </vg-player>
  </div>

  <div class="detail__title">{{ detailData.name }}</div>
  <div class="detail__rate">
    <div class="detail__rate--star">
      <img class="icon" src="../../../assets/icon/star.png" />
      <span>{{ detailData.score }}</span>
    </div>
    <div class="detail__rate--date">
      <img class="icon" src="../../../assets/icon/calendar.png" />
      <span>{{ detailData.year }}</span>
    </div>
  </div>
  <div class="detail__tags" *ngFor="let item of detailData.tagNameList">
    {{ item }}
  </div>
  <div class="detail__des">
    {{ detailData.introduction }}
  </div>
  <div class="detail__episodes" *ngIf="detailData.episodeCount">
    <div class="detail__episodes__title">Episodes</div>
    <div class="wrapper">
      <ng-container *ngFor="let item of detailData.episodeVo" class="wrapper">
        <div
          class="detail__episodes__ep"
          [routerLink]="['/tv', detailData.id]"
          (click)="onClickEpi(item)"
          [queryParams]="{ episode: item.seriesNo }"
          [ngClass]="episode === item.seriesNo ? 'active' : ''"
        >
          {{ item.seriesNo }}
        </div>
      </ng-container>
    </div>
  </div>
</div>
