<div class="detail">
  <div class="detail__trailer">
    <vg-player *ngIf="detailData.mediaUrl">
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>

      <vg-controls [vgAutohide]="true" [vgAutohideTime]="1.5">
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time
            [vgSlider]="true"
          ></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display
          vgProperty="left"
          vgFormat="hh:mm:ss"
        ></vg-time-display>

        <vg-track-selector></vg-track-selector>
        <vg-mute></vg-mute>

        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
      </vg-controls>
      <video
        #media
        [vgMedia]="$any(media)"
        [vgHls]="detailData.mediaUrl"
        [poster]="detailData.coverHorizontalUrl"
        id="my-video"
        crossorigin
      >
        <ng-container *ngFor="let item of subList">
          <track
            kind="subtitles"
            [label]="item.language"
            [src]="subtitleProxy(item.subtitlingUrl)"
            [srclang]="item.languageAbbr"
          />
        </ng-container>
      </video>
    </vg-player>
  </div>

  <div class="detail__title">{{ detailData.name }}</div>
  <div class="detail__rate">
    <div class="detail__rate--star">
      <img class="icon" src="../../../assets/icon/star.png" />
      <span>{{ detailData.score }}</span>
    </div>
    <div class="detail__rate--date">
      <img class="icon" src="../../../assets/icon/calendar.png" />
      <span>{{ detailData.year }}</span>
    </div>
  </div>
  <div class="detail__tags" *ngFor="let item of detailData.tagNameList">
    {{ item }}
  </div>
  <div class="detail__des">
    {{ detailData.introduction }}
  </div>
  <div class="detail__episodes" *ngIf="detailData.episodeCount">
    <div class="detail__episodes__title">Episodes</div>
    <div class="wrapper">
      <ng-container *ngFor="let item of detailData.episodeVo" class="wrapper">
        <div
          class="detail__episodes__ep"
          [routerLink]="['/tv', detailData.id]"
          (click)="onClickEpi(item)"
          [queryParams]="{ episode: item.seriesNo }"
          [ngClass]="episode === item.seriesNo ? 'active' : ''"
        >
          {{ item.seriesNo }}
        </div>
      </ng-container>
    </div>
  </div>

  <!-- comments -->
  <div class="comment">
    <div class="comment__title">Comments</div>
    <div class="comment__alert" *ngIf="!user">
      <div class="comment__alert__contents">You need sign in to comment</div>
      <button class="comment__btn" routerLink="/login">Sign in</button>
    </div>
    <form
      class="comment__form"
      *ngIf="user"
      (ngSubmit)="onSubmit(f)"
      #f="ngForm"
    >
      <img [src]="user.photoURL" class="comment__form__avt" />
      <input
        class="comment__form__field"
        type="text"
        name="comment"
        placeholder="Add comment..."
        ngModel
        #commentInput
      />
      <button type="submit" class="comment__form__btn">
        <mat-icon>send</mat-icon>
      </button>
    </form>
    <div class="comment__list" *ngIf="cmtData">
      <div class="comment__item" *ngFor="let item of cmtData">
        <img [src]="item.user.photoURL" class="comment__item__avt" />
        <div class="comment__item__info">
          <div class="comment__item__info__title">
            {{ item.user.displayName }}
            <span class="comment__item__info__time">{{
              calDayPassed(item.createdAt)
            }}</span>
          </div>
          <div class="comment__item__info__content">{{ item.content }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
